* {
    box-sizing: border-box;
  }
  
  /* Style the body */
body {
    margin: 0;
    font-family: 'Source Serif Pro', serif;
  }
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  .side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  .side img{
    padding: 20px;
  }
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  .footer {
    padding: 50px;
    width: 100%;
    text-align: center;
    background: #ddd;
    display: flex;
    justify-content: space-around;
  }
  .footer a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 0 50px;
  }
  .footer a:hover{
    color: white;
  }
  #footer-logo{
    width: 400px;
    height: 100px;
    margin-top: 20px;
  }
  @media (max-width: 700px) {
    .row, .navbar, .footer {   
      flex-direction: column;
    }
  }
  #chart_div{
    margin: 300px;
  }
  
